*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: white;
    color: black;
}
header{
    text-align: center;
    padding: 40px 20px;
    background-color: black;
    color: white;
}
.profile-image{
    width: 150px;
    height:150px;
     margin: 0 auto 20px;
    overflow: hidden;
    border-radius: 50%;
    border:5px solid white;
}
.profile-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}
header h1{
    font-size: 35px;
    margin-bottom:10px;
}
section{
    text-align: center;
    width:80%;
    margin:40px auto;
    background: rgb(217, 212, 212);
    padding:20px;
    border-radius: 10px;
}
.project-card{
    background-color: rgb(189, 188, 189);
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}
